{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<body>
    <h1>プロフィール詳細</h1>
    <p><strong>ユーザー名:</strong> {{ profile.user.username }}</p>
    <p><strong>自己紹介:</strong> {{ profile.bio }}</p>
    <p><strong>年齢:</strong> {{ profile.age }}</p>
    <p><strong>話す言語:</strong> {{ profile.get_speak_lang_display }}</p>
    <p><strong>プログラミング言語:</strong> {{ profile.get_it_lang_display }}</p>
    <a href="{% url 'profile_update' %}">プロフィールを編集する</a>
</body>

{% else %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup' %}">Signup</a>
{% endif %}

{% endblock content %}